<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myboot.domain.mapper.EmployeeMapper">
    <select id="getEmployeeById" resultType="com.example.myboot.domain.EmployeeDO">
        select * from employee where id = #{id}
    </select>

    <insert id="insertEmployee">
        insert into employee(name,email,gender,did) values(#{name},#{email},#{gender},#{dId})
    </insert>

    <update id="updateEmployee">
        update employee set name = #{name}, email = #{email}, gender = #{gender}, did = #{did}
        where id = #{id}
    </update>

    <delete id="deleteEmployeeById">
        delete from employee where id = #{id}
    </delete>

    <select id="getEmployeeByName" resultType="com.example.myboot.domain.EmployeeDO">
        select * from employee where name = #{name}
    </select>
</mapper>